@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */

.Font-color{
    color: #FFFFFF;
}
.primary-color-bg{
 background-color: #1A0B2E;   
}
.secondary-color-bg{
    background-color: #230E3D;
}

.navbar{
    width: 1600px;
    height: 92px;
    background-color: #1A0B2E;
}
.nav-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    
    margin: 24px 200px;
}

.nav-links{
    display: flex;
    list-style-type: none;
}

.link{
    text-decoration: none;
    margin-right: 32px;
    color: #FFFFFF;
}


.hero-section{
    width: 1600px;
    height: 760px;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;            
    background-position: center;       
    background-size: cover;                     
}

.hero-container{
    width: 550;
    height: 558;
    margin: 0 auto;
    text-align: center;
    padding-top: 101px; 
}
.hero-images .image-01{
    max-width: 350px;
    max-height: 350px;
    margin-left: 130px;
}
.hero-images .image-02{
    position: relative;
    top: -80px;
    left: -240px;
}

.hero-text{
    margin-top: 0px;
}
.hero-title{
    font-size: 3.75rem;
    font-weight: 800;
    color: #FFFFFF;
}
.hero-description{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;

}

.hero-btns{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.btn-01, .btn-02{
    width: 201;
    height: 44;
    background-color:rgb(151, 41, 136) ;
    border: none;
    padding: 20px 12px;
    border-radius: 1000px;
}
.hero-btn-1, .hero-btn-2{
   font-size: 1rem;
   font-weight: 600;
   color: #FFFFFF;
   border: none;
   background-color: rgb(151, 41, 136);
}
/* -----------------Listener Container- Design Start Here------------ */
.listener-container{
    width: 1600px;
    height: 646px;
    text-align: center;
    
    border: 2px solid white;
}

.listener-text-container{
    width: 1200px;
    height: 222px;
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 74px;
    
}

.listener-title-01 .listener-title-02{
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
}
.listener-number-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    margin-top: 100px;
    
}
.number-card{
    width: 240px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.number-card-number{
    color: #00FF88;
    font-size: 2rem;
    margin:0 auto
}
.number-card-text{
    font-size: 1rem;
    font-weight: 400;
    margin: 0 auto;
}

/* -----------------Choose Section Start Here---------------------- */
.choose-section{
    width: 1600px;
    height: 1121px;
    padding-top: 120px;
}
.choose-title{
    width: 1200px;
    height: 58px;
    font-size: 3rem;
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
    
}

.choose-container{
    width: 1200px;
    height: 783px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    
}
.big-layout {
  grid-row: span 2;
}

.small-layout{
    grid-column: span 2;
}
.card-1{
    width: 380px;
    height: 480px;
}
.card-2, .card-3 {
    width: 790px;
    height: 220px;
}

.card-4{
    width: 790px;
    height: 273px;
}
.card-5{
    width: 380px;
    height: 273px;
}

.choose-card{
    background-color: #2A186C;
    border-radius: 40px;
    
  
}
.card-1 img{
    padding-top: 107px;
    padding-left: 40px;
}

 .card-2 img, .card-3 img, .card-4 img, .card-5 img{
    padding-top: 25px;
    padding-left: 40px; 
}


.choose-card h3{
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0px 40px;  
}

.card-1 p{
    font-size: 1rem;
    font-weight: 400;
    padding: 0px 40px 107px 40px;
}
.card-2 p, .card-3 p, .card-4 p, .card-5 p{
    font-size: 1rem;
    font-weight: 400;
    padding: 0px 0px 40px 40px;
}

/* -------------------Featured Episode----------------------------- */

.episode-and-host-section{
    width: 1600px;
    height: 1276px;
    background-color: #1A0B2E;
    border: 1px solid white;
}
.episode-section{
    width: 1200px;
    height: 538px;
    margin: 0 auto;
   
}
.episode-title{
    width: 1200px;
    height: 58px;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
   
}
.episode-car-container{
    width: 1200px;
    height: 440px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.episode-card-01, .episode-card-02, .episode-card-03 {
    width: 380px;
    height: 440px;
    margin: 0 auto;
    gap: 30px;
    border-radius: 30px;
    background-color: #250D44;
}

.video-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  
}

.card-title{
    width: 332px;
    height: 58px;
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 24px;
    margin-bottom: 0px;
}

.card-details{
    width: 332px;
    height: 72px;
    font-size: 1rem;
    font-weight: 400;
    margin: 12px 20px;
}

.card-time{
    width: 53px;
    height: 24px;
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
    margin-left: 24px;
    margin-bottom: 24px;
}

/* ------------------Meet The Host Section---------- */
.host-section{
    width: 1200px;
    height: 378px;
    margin: 0 auto;
    margin-top: 120px;
    
}
.host-title{
    width: 1200px;
    height: 58px;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    
}

.alex-section{
    width: 1200px;
    height: 280px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
   
}
.alex-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin: 0 0;
}

.host-photo{
    width: 200px;
    height: 200px;
    margin-left: 40px;
}
.host-text-container{
    padding-right: 40px;
    margin-left: 24px
}
.host-name{
    width: 896px;
    height: 39px;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 0px;

}

.host-details{
    width: 896px;
    height: 72px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    margin-top: 0px;
}
.host-icon{
    display: flex;
    width: 184px;
    height: 40px;
    align-items: center;
    gap: 20px;
    
}
.host-icon img{
   gap: 5px;
}
/* ------------------Mobile Device Responsive Start Here---------- */

@media screen and (max-width:576px) {
.navbar{
    width: 100%;
    /* height: 100%; */
    justify-content: center;
}
.nav-links{
    display: none;
}
.nav-container button{
    display: none;
}
.nav-container{
    width: 100%;
    margin: 0px auto;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    
}
.banner, .hero-section, .hero-images{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.hero-section{
    background-image: url(../assets/hero-bg.png);      
                         
}

.hero-images .image-01 {
    width: 100%;
    height: 100%;
    margin-left: 0px;
}
.hero-images .image-02{
    /* width: 100%; */
    /* height: 100%; */
    position: relative;
    top: -260px;
    left: 0px;
}
}