@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */

body{
    
}

.Font-color{
    color: #FFFFFF;
}



.navbar{
    width: 1600px;
    height: 92px;
    background-color: #1A0B2E;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 200px;
}

.nav-links{
    display: flex;
    list-style-type: none;
}

.link{
    text-decoration: none;
    margin-right: 32px;
    color: #FFFFFF;
}


.hero-section{
    width: 1600px;
    height: 760px;
    background-image: url(../assets/hero-bg.png);
}

.hero-container{
    width: 550Hug;
    height: 558Hug;
    margin: 0 auto;
    text-align: center;
    padding-top: 101px; 
}
.hero-images .image-01{
    max-width: 350px;
    max-height: 350px;
    margin-left: 130px;
}
.hero-images .image-02{
    position: relative;
    top: -80px;
    left: -240px;
}

.hero-text{
    margin-top: 0px;
}
.hero-title{
    font-size: 3.75rem;
    font-weight: 800;
    color: #FFFFFF;
}
.hero-description{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;

}

.hero-btns{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.btn-01, .btn-02{
    width: 201;
    height: 44;
    background-color:rgb(151, 41, 136) ;
    border: none;
    padding: 20px 12px;
    border-radius: 1000px;
}
.hero-btn-1, .hero-btn-2{
   font-size: 1rem;
   font-weight: 600;
   color: #FFFFFF;
   border: none;
   background-color: rgb(151, 41, 136);
}


